USE [simplePA]
GO
/****** Object:  Table [dbo].[AssetGroups]    Script Date: 2023-01-03 오후 3:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetGroups](
	[AssetGroupId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[AssetId] [int] NOT NULL,
	[EMNAME] [varchar](max) NOT NULL,
 CONSTRAINT [PK_AssetGroups] PRIMARY KEY CLUSTERED 
(
	[AssetGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetPresetGroups]    Script Date: 2023-01-03 오후 3:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetPresetGroups](
	[AssetPresetGroupId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NULL,
	[AssetId] [int] NULL,
	[EMNAME] [varchar](max) NULL,
	[chk] [int] NULL,
 CONSTRAINT [PK_AssetPresetGroups] PRIMARY KEY CLUSTERED 
(
	[AssetPresetGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assets]    Script Date: 2023-01-03 오후 3:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assets](
	[AssetId] [int] IDENTITY(1,1) NOT NULL,
	[emServer] [varchar](max) NULL,
	[ip] [varchar](max) NULL,
	[GroupName] [varchar](max) NULL,
	[ZoneName] [varchar](max) NULL,
	[SpeakerName] [varchar](max) NULL,
	[path] [varchar](max) NULL,
	[floor] [int] NULL,
	[DeviceName] [varchar](max) NULL,
	[state] [varchar](max) NULL,
	[state_old] [varchar](max) NULL,
	[chk] [int] NULL,
	[seq] [int] NULL,
	[ch] [int] NULL,
	[em1] [int] NULL,
	[em2] [int] NULL,
	[em3] [int] NULL,
	[DeviceId] [int] NULL,
	[emData] [varchar](max) NULL,
	[building] [varchar](max) NULL,
	[floorname] [varchar](max) NULL,
	[zpc] [varchar](max) NULL,
	[zpci] [int] NULL,
	[zpco] [int] NULL,
 CONSTRAINT [PK_Assets] PRIMARY KEY CLUSTERED 
(
	[AssetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BSroom]    Script Date: 2023-01-03 오후 3:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BSroom](
	[BSroomid] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](max) NULL,
	[state] [int] NULL,
	[mode] [int] NULL,
 CONSTRAINT [PK_BSroom] PRIMARY KEY CLUSTERED 
(
	[BSroomid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BSTree]    Script Date: 2023-01-03 오후 3:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BSTree](
	[BSTreeId] [int] IDENTITY(1,1) NOT NULL,
	[EMNAME] [varchar](max) NOT NULL,
	[wtime] [datetime] NULL,
	[chno] [int] NULL,
	[playing] [varchar](max) NULL,
	[AssetId] [int] NULL,
	[MusicId] [int] NULL,
 CONSTRAINT [PK_BSTree] PRIMARY KEY CLUSTERED 
(
	[BSTreeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__BSTree__CC0A7CE0EAF1E09D] UNIQUE NONCLUSTERED 
(
	[BSTreeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BSTreeC]    Script Date: 2023-01-03 오후 3:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BSTreeC](
	[BSTreeCId] [int] IDENTITY(1,1) NOT NULL,
	[BSTreeId] [int] NULL,
	[AssetId] [int] NULL,
	[MusicId] [int] NULL,
	[user_name] [varchar](max) NULL,
 CONSTRAINT [PK_BSTreeC] PRIMARY KEY CLUSTERED 
(
	[BSTreeCId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataType]    Script Date: 2023-01-03 오후 3:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataType](
	[data_indexs] [int] IDENTITY(1,1) NOT NULL,
	[data_group_no] [int] NULL,
	[data_number] [int] NULL,
	[data_value] [varchar](max) NULL,
	[data_description] [varchar](max) NULL,
 CONSTRAINT [PK_DataType] PRIMARY KEY CLUSTERED 
(
	[data_indexs] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Device]    Script Date: 2023-01-03 오후 3:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device](
	[DeviceId] [int] IDENTITY(1,1) NOT NULL,
	[device] [int] NULL,
	[ip] [varchar](max) NULL,
	[ip_dspctrl] [varchar](max) NULL,
	[name] [varchar](max) NULL,
	[DeviceName] [varchar](max) NULL,
	[DanteModelName] [varchar](max) NULL,
	[chspk] [int] NULL,
	[dsp_name] [varchar](max) NULL,
	[dsp_chno] [int] NULL,
	[dsp_vol] [int] NULL,
	[dsp_vol_em] [int] NULL,
	[path] [varchar](max) NULL,
	[floor_em] [int] NULL,
	[emData] [varchar](max) NULL,
	[chCount] [int] NULL,
	[AssetId] [int] NULL,
	[EMNAME] [varchar](max) NULL,
 CONSTRAINT [PK_Device] PRIMARY KEY CLUSTERED 
(
	[DeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceChannel]    Script Date: 2023-01-03 오후 3:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceChannel](
	[DeviceChnnelId] [int] IDENTITY(1,1) NOT NULL,
	[chno] [varchar](max) NULL,
	[chname] [varchar](max) NULL,
	[dsp_out_ch1] [varchar](max) NULL,
	[dsp_out_ch2] [varchar](max) NULL,
	[DeviceId] [int] NOT NULL,
	[io] [int] NULL,
	[devicein] [varchar](max) NULL,
	[deviceinch] [int] NULL,
 CONSTRAINT [PK_DeviceChannel] PRIMARY KEY CLUSTERED 
(
	[DeviceChnnelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMBs]    Script Date: 2023-01-03 오후 3:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMBs](
	[EMBsId] [int] IDENTITY(1,1) NOT NULL,
	[emData] [varchar](max) NULL,
	[DeviceId] [int] NULL,
	[path] [varchar](max) NULL,
 CONSTRAINT [PK_EMBs] PRIMARY KEY CLUSTERED 
(
	[EMBsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMServer]    Script Date: 2023-01-03 오후 3:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMServer](
	[EMServerId] [int] IDENTITY(1,1) NOT NULL,
	[EMNAME] [varchar](max) NULL,
	[state] [varchar](max) NULL,
	[state_old] [varchar](max) NULL,
	[com_gpio] [varchar](max) NULL,
	[com_Rtype] [varchar](max) NULL,
	[net_local] [varchar](max) NULL,
	[net_dante] [varchar](max) NULL,
	[dsp_ctrl] [varchar](max) NULL,
	[dsp_dante] [varchar](max) NULL,
	[com_gpio_state] [int] NULL,
	[com_Rtype_state] [int] NULL,
	[sw_all] [int] NULL,
	[sw_1] [int] NULL,
	[sw_2] [int] NULL,
	[sw_3] [int] NULL,
	[sw_4] [int] NULL,
	[err] [int] NULL,
	[fire] [int] NULL,
	[emtest] [int] NULL,
	[em_address] [varchar](max) NULL,
	[em_description] [varchar](max) NULL,
	[em_images] [varchar](max) NULL,
 CONSTRAINT [PK_EMServer] PRIMARY KEY CLUSTERED 
(
	[EMServerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eventvm]    Script Date: 2023-01-03 오후 3:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventvm](
	[EventVMId] [int] IDENTITY(1,1) NOT NULL,
	[write_time] [datetime] NOT NULL,
	[event_text] [varchar](max) NULL,
	[ip] [varchar](max) NULL,
	[path] [varchar](max) NULL,
	[DeviceName] [varchar](max) NULL,
	[state] [varchar](max) NULL,
	[alarm] [int] NULL,
 CONSTRAINT [PK_Eventvm] PRIMARY KEY CLUSTERED 
(
	[EventVMId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holidays]    Script Date: 2023-01-03 오후 3:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holidays](
	[HolidayId] [int] IDENTITY(1,1) NOT NULL,
	[hDate] [datetime] NOT NULL,
	[Description] [varchar](max) NULL,
 CONSTRAINT [PK_Holidays] PRIMARY KEY CLUSTERED 
(
	[HolidayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musics]    Script Date: 2023-01-03 오후 3:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musics](
	[MusicId] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](max) NULL,
	[FileContent] [varchar](max) NULL,
	[deletable] [varchar](max) NULL,
	[duration] [varchar](max) NULL,
 CONSTRAINT [PK_Musics] PRIMARY KEY CLUSTERED 
(
	[MusicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayItem]    Script Date: 2023-01-03 오후 3:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayItem](
	[PlayItemId] [int] NOT NULL,
	[playflag_onair] [int] NOT NULL,
	[idno] [int] NOT NULL,
	[chno] [int] NOT NULL,
	[kind] [varchar](max) NULL,
	[Name] [varchar](max) NULL,
	[Start] [datetime] NULL,
	[End] [datetime] NULL,
	[state] [varchar](max) NULL,
	[playcnt] [int] NULL,
	[current] [datetime] NULL,
	[duration] [datetime] NULL,
	[p_run] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Simplepa]    Script Date: 2023-01-03 오후 3:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Simplepa](
	[SimplePAId] [int] IDENTITY(1,1) NOT NULL,
	[TileWidth] [int] NOT NULL,
	[MapX] [int] NOT NULL,
	[MapY] [int] NOT NULL,
	[Zoom] [real] NOT NULL,
	[debug] [int] NOT NULL,
	[SpeakerIconSize] [int] NOT NULL,
	[UserName] [varchar](max) NULL,
	[EMServerIP] [varchar](max) NULL,
	[ServerIP] [varchar](max) NULL,
	[ServerPort] [varchar](max) NULL,
	[Reserved1] [varchar](max) NULL,
	[Reserved2] [varchar](max) NULL,
	[Reserved3] [varchar](max) NULL,
	[Reserved4] [varchar](max) NULL,
	[Reserved5] [varchar](max) NULL,
	[Reserved6] [varchar](max) NULL,
	[Reserved7] [varchar](max) NULL,
	[Reserved8] [varchar](max) NULL,
	[Reserved9] [varchar](max) NULL,
	[Reserved10] [varchar](max) NULL,
	[Reserved11] [varchar](max) NULL,
	[GPIOPort] [varchar](max) NULL,
	[Rport] [varchar](max) NULL,
	[Reserved15] [varchar](max) NULL,
	[Reserved16] [varchar](max) NULL,
	[Jigsangbalhwa] [int] NOT NULL,
	[SpeakerTimer] [int] NOT NULL,
	[inputvolume] [real] NOT NULL,
	[outputvolume] [real] NOT NULL,
	[disp] [int] NOT NULL,
	[Multi_Ch] [int] NOT NULL,
	[SoundDeviceNum] [int] NOT NULL,
	[SoundDeviceName] [varchar](max) NULL,
	[Reserved17] [int] NOT NULL,
	[scalelength] [real] NULL,
	[length] [real] NULL,
	[scale] [real] NULL,
	[noise1] [int] NULL,
	[noise2] [int] NULL,
	[dsp_vol] [int] NOT NULL,
	[dsp_vol_em] [int] NOT NULL,
	[sms_server] [varchar](max) NULL,
	[sms_id] [varchar](max) NULL,
	[sms_pw] [varchar](max) NULL,
	[sms_rcvno] [varchar](max) NULL,
	[Pport] [int] NOT NULL,
	[EmMusic] [varchar](max) NULL,
 CONSTRAINT [PK_Simplepa] PRIMARY KEY CLUSTERED 
(
	[SimplePAId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[spa_bd_struct]    Script Date: 2023-01-03 오후 3:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[spa_bd_struct](
	[bd_id] [int] NOT NULL,
	[bd_name] [varchar](max) NOT NULL,
	[refer_site_id] [int] NOT NULL,
	[max_floor_no] [int] NULL,
	[under_floor_no] [int] NULL,
	[num_of_stairs] [int] NULL,
	[bd_fire_id] [int] NULL,
	[bd_description] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[spa_site]    Script Date: 2023-01-03 오후 3:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[spa_site](
	[site_index] [int] NOT NULL,
	[site_name] [varchar](max) NULL,
	[site_description] [varchar](max) NULL,
	[num_of_bd] [int] NULL,
	[em_device_id] [int] NULL,
	[site_address] [varchar](max) NULL,
	[site_contact] [varchar](max) NULL,
	[site_images] [varchar](max) NULL,
	[is_deleted] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTrees]    Script Date: 2023-01-03 오후 3:29:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTrees](
	[UserTreeId] [int] IDENTITY(1,1) NOT NULL,
	[user_group] [varchar](max) NULL,
	[user_name] [varchar](max) NULL,
	[login_id] [varchar](max) NULL,
	[login_password] [varchar](max) NULL,
	[login_password2] [varchar](max) NULL,
	[mobile] [varchar](max) NULL,
	[email] [varchar](max) NULL,
 CONSTRAINT [PK_UserTrees] PRIMARY KEY CLUSTERED 
(
	[UserTreeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AssetGroups] ADD  CONSTRAINT [DF__AssetGrou__Asset__0B91BA14]  DEFAULT ((0)) FOR [AssetId]
GO
ALTER TABLE [dbo].[BSroom] ADD  CONSTRAINT [DF__BSroom__user_nam__3D5E1FD2]  DEFAULT ('') FOR [user_name]
GO
ALTER TABLE [dbo].[BSroom] ADD  CONSTRAINT [DF__BSroom__state__3E52440B]  DEFAULT ((0)) FOR [state]
GO
ALTER TABLE [dbo].[BSroom] ADD  CONSTRAINT [DF__BSroom__mode__3F466844]  DEFAULT ((0)) FOR [mode]
GO
ALTER TABLE [dbo].[BSTree] ADD  CONSTRAINT [DF__BSTree__chno__1ED998B2]  DEFAULT ('0') FOR [chno]
GO
ALTER TABLE [dbo].[BSTree] ADD  CONSTRAINT [DF__BSTree__AssetId__1FCDBCEB]  DEFAULT ('0') FOR [AssetId]
GO
ALTER TABLE [dbo].[BSTree] ADD  CONSTRAINT [DF__BSTree__MusicId__20C1E124]  DEFAULT ('0') FOR [MusicId]
GO
ALTER TABLE [dbo].[DeviceChannel] ADD  CONSTRAINT [DF__DeviceCha__Devic__4BAC3F29]  DEFAULT ((0)) FOR [DeviceId]
GO
ALTER TABLE [dbo].[DeviceChannel] ADD  CONSTRAINT [DF__DeviceChanne__io__4CA06362]  DEFAULT ((0)) FOR [io]
GO
ALTER TABLE [dbo].[EMServer] ADD  CONSTRAINT [DF_EMServer_com_gpio_state]  DEFAULT ((0)) FOR [com_gpio_state]
GO
ALTER TABLE [dbo].[EMServer] ADD  CONSTRAINT [DF_EMServer_com_Rtype_state]  DEFAULT ((0)) FOR [com_Rtype_state]
GO
ALTER TABLE [dbo].[EMServer] ADD  CONSTRAINT [DF_EMServer_sw_all]  DEFAULT ((0)) FOR [sw_all]
GO
ALTER TABLE [dbo].[EMServer] ADD  CONSTRAINT [DF_EMServer_sw_1]  DEFAULT ((0)) FOR [sw_1]
GO
ALTER TABLE [dbo].[EMServer] ADD  CONSTRAINT [DF_EMServer_sw_2]  DEFAULT ((0)) FOR [sw_2]
GO
ALTER TABLE [dbo].[EMServer] ADD  CONSTRAINT [DF_EMServer_sw_3]  DEFAULT ((0)) FOR [sw_3]
GO
ALTER TABLE [dbo].[EMServer] ADD  CONSTRAINT [DF_EMServer_sw_4]  DEFAULT ((0)) FOR [sw_4]
GO
ALTER TABLE [dbo].[EMServer] ADD  CONSTRAINT [DF_EMServer_err]  DEFAULT ((0)) FOR [err]
GO
ALTER TABLE [dbo].[EMServer] ADD  CONSTRAINT [DF_EMServer_fire]  DEFAULT ((0)) FOR [fire]
GO
ALTER TABLE [dbo].[EMServer] ADD  CONSTRAINT [DF_EMServer_emtest]  DEFAULT ((0)) FOR [emtest]
GO
ALTER TABLE [dbo].[Eventvm] ADD  CONSTRAINT [DF__Eventvm__alarm__412EB0B6]  DEFAULT ((0)) FOR [alarm]
GO
ALTER TABLE [dbo].[PlayItem] ADD  CONSTRAINT [DF__PlayItem__playfl__4C0144E4]  DEFAULT ((0)) FOR [playflag_onair]
GO
ALTER TABLE [dbo].[PlayItem] ADD  CONSTRAINT [DF__PlayItem__idno__4CF5691D]  DEFAULT ((0)) FOR [idno]
GO
ALTER TABLE [dbo].[PlayItem] ADD  CONSTRAINT [DF__PlayItem__chno__4DE98D56]  DEFAULT ((0)) FOR [chno]
GO
ALTER TABLE [dbo].[PlayItem] ADD  CONSTRAINT [DF__PlayItem__p_run__4EDDB18F]  DEFAULT ((0)) FOR [p_run]
GO
ALTER TABLE [dbo].[Simplepa] ADD  CONSTRAINT [DF__Simplepa__TileWi__276EDEB3]  DEFAULT ((0)) FOR [TileWidth]
GO
ALTER TABLE [dbo].[Simplepa] ADD  CONSTRAINT [DF__Simplepa__MapX__286302EC]  DEFAULT ((0)) FOR [MapX]
GO
ALTER TABLE [dbo].[Simplepa] ADD  CONSTRAINT [DF__Simplepa__MapY__29572725]  DEFAULT ((0)) FOR [MapY]
GO
ALTER TABLE [dbo].[Simplepa] ADD  CONSTRAINT [DF__Simplepa__Zoom__2A4B4B5E]  DEFAULT ((0)) FOR [Zoom]
GO
ALTER TABLE [dbo].[Simplepa] ADD  CONSTRAINT [DF__Simplepa__debug__2B3F6F97]  DEFAULT ((0)) FOR [debug]
GO
ALTER TABLE [dbo].[Simplepa] ADD  CONSTRAINT [DF__Simplepa__Speake__2C3393D0]  DEFAULT ((0)) FOR [SpeakerIconSize]
GO
ALTER TABLE [dbo].[Simplepa] ADD  CONSTRAINT [DF__Simplepa__Jigsan__2D27B809]  DEFAULT ((0)) FOR [Jigsangbalhwa]
GO
ALTER TABLE [dbo].[Simplepa] ADD  CONSTRAINT [DF__Simplepa__Speake__2E1BDC42]  DEFAULT ((0)) FOR [SpeakerTimer]
GO
ALTER TABLE [dbo].[Simplepa] ADD  CONSTRAINT [DF__Simplepa__inputv__2F10007B]  DEFAULT ((0)) FOR [inputvolume]
GO
ALTER TABLE [dbo].[Simplepa] ADD  CONSTRAINT [DF__Simplepa__output__300424B4]  DEFAULT ((0)) FOR [outputvolume]
GO
ALTER TABLE [dbo].[Simplepa] ADD  CONSTRAINT [DF__Simplepa__disp__30F848ED]  DEFAULT ((0)) FOR [disp]
GO
ALTER TABLE [dbo].[Simplepa] ADD  CONSTRAINT [DF__Simplepa__Multi___31EC6D26]  DEFAULT ((0)) FOR [Multi_Ch]
GO
ALTER TABLE [dbo].[Simplepa] ADD  CONSTRAINT [DF__Simplepa__SoundD__32E0915F]  DEFAULT ((0)) FOR [SoundDeviceNum]
GO
ALTER TABLE [dbo].[Simplepa] ADD  CONSTRAINT [DF__Simplepa__Reserv__33D4B598]  DEFAULT ((0)) FOR [Reserved17]
GO
ALTER TABLE [dbo].[Simplepa] ADD  CONSTRAINT [DF__Simplepa__scalel__34C8D9D1]  DEFAULT ((0)) FOR [scalelength]
GO
ALTER TABLE [dbo].[Simplepa] ADD  CONSTRAINT [DF__Simplepa__length__35BCFE0A]  DEFAULT ((0)) FOR [length]
GO
ALTER TABLE [dbo].[Simplepa] ADD  CONSTRAINT [DF__Simplepa__scale__36B12243]  DEFAULT ((0)) FOR [scale]
GO
ALTER TABLE [dbo].[Simplepa] ADD  CONSTRAINT [DF__Simplepa__noise1__37A5467C]  DEFAULT ((0)) FOR [noise1]
GO
ALTER TABLE [dbo].[Simplepa] ADD  CONSTRAINT [DF__Simplepa__noise2__38996AB5]  DEFAULT ((0)) FOR [noise2]
GO
ALTER TABLE [dbo].[Simplepa] ADD  CONSTRAINT [DF__Simplepa__dsp_vo__398D8EEE]  DEFAULT ((0)) FOR [dsp_vol]
GO
ALTER TABLE [dbo].[Simplepa] ADD  CONSTRAINT [DF__Simplepa__dsp_vo__3A81B327]  DEFAULT ((0)) FOR [dsp_vol_em]
GO
ALTER TABLE [dbo].[Simplepa] ADD  CONSTRAINT [DF__Simplepa__Pport__3B75D760]  DEFAULT ((0)) FOR [Pport]
GO
