<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=&quot;E:\0 신사업\demo\webPA\newrep\0 wisej\0 use\0 CodeProject\Wisej.CodeProject\simplepaw.db&quot;" providerName="Devart.Data.SQLite" />
  </connectionStrings>

</configuration>
