<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.4.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Cors" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Extensions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Net.Http.Headers" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.2.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Cors" version="4.0.1" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.2.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Hosting" version="4.2.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="SQLite.EF6.Migrations-Extensible" version="1.0.106.1" targetFramework="net46" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.115.5" targetFramework="net46" />
  <package id="System.Data.SQLite.EF6" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Memory" version="4.5.1" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.5.1" targetFramework="net48" />
  <package id="Wisej-3" version="3.0.12" targetFramework="net48" />
  <package id="Wisej-3-ElegantIcons" version="3.0.12" targetFramework="net48" />
</packages>